<form id="search">
  <legend>Search</legend>
  <fieldset>
    <label>
      <input type="text" id="q">
    </label>
    <button id="submit-search" type="submit" class="btn btn-primary">Search</button>
  </fieldset>
</form>