<form id="search">
  <legend>Search</legend>
  <fieldset>
    <label>
      <input type="text" id="q">
    </label>
    <label class="checkbox inline">
      <input type="checkbox" id="tweet"> 
      Tweet
    </label>
    <label class="checkbox inline">
      <input type="checkbox" id="bio"> 
      Bio
    </label>
    <button type="submit" class="btn btn-primary">Search</button>
  </fieldset>
</form>