<p id="notice"><%= notice %></p>
<h2>Super cool follow queue action</h2>
<div id="follow-results" class="results"></div>
<script type="text/javascript" defer>
$(document).ready(function () {
/*
  var nudgedModel = new tweetpaint.Models.Nudged({ nudged: <%= raw @nudged %> });
  var nudgedView = new tweetpaint.Views.Nudged({model: nudgedModel});
*/
});
</script>
