<p id="notice"><%= notice %></p>
<h2>Super cool follow queue action</h2>
<%= render "queue_form" %>
<div id="follow-results" class="results"></div>
<%= render "construction" %>
<script type="text/javascript" defer>
$(document).ready(function () {

  var followModel = new tweetpaint.Models.Follow({ follow: sessionStorage.getItem('followQueue') });
  var followView = new tweetpaint.Views.Follow({model: followModel});

});
</script>
