<form>
  <fieldset>
    <legend>Search</legend>
    <label for="keyword"></label>
    <input id="keyword" type="text" placeholder="Keywords">

    <label class="checkbox">
      <input type="checkbox" value="tweet"> Search tweets
    </label>
    <label class="checkbox">
      <input type="checkbox" value="bios"> Search bios
    </label>    
    <button id="search" type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<div id="container"></div>